:root
{
	--col-fond: white;
	--col-texte: black;
	--col-clavier: rgb(221, 94, 94);
}

*
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	user-select: none;
	color: var(--col-texte);
	text-align: center;
}

body
{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--col-fond);
}

body>*
{
	margin-bottom: 5vh;
}

body>header>#titre
{
	letter-spacing: 2vw;
}

body>#clavier
{
	width: 100%;
	margin: 2vh 0;
}

body>#clavier>table
{
	width: 100%;
	padding: 0 10vw;
	border-spacing: 0.4rem;
}

body>#clavier>table td
{
	padding: 1vh 0;
	background-color: var(--col-clavier);
	border-radius: 0.35rem;
	width: 5vw;
}

body>#clavier>table td:hover
{
	filter: brightness(1.5);
	cursor: pointer;
}