@import url('https://fonts.googleapis.com/css2?family=Zen+Dots');

:root {
	--col-background: white;
	--col-text: rgb(95, 95, 95);
	--col-cell: rgb(231, 231, 231);
	--col-cell-victory: green;
	--col-cell-correct: orange;
	--col-cell-wrong: red;
}

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	user-select: none;
	text-align: center;
	transition: all 0.2s ease;
	font-family: 'Zen Dots';
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--col-text);
	background-color: var(--col-background);
}

body>* {
	width: 100%;
	margin: 2vh 0;
}

body>header>#title {
	letter-spacing: 4vw;
	padding-left: 4vw;
	font-size: 3rem;
}

body>#wordle-board {
	width: 100%;
	display: flex;
	flex-direction: column;
}

body>#wordle-board>.row {
	margin: 0 7vw;
	display: flex;
	justify-content: center;
}

@keyframes badRow {
	0% {
		margin: 0 5vw;
	}
	25% {
		margin: 0 0 0 5.2vw;
	}
	75% {
		margin: 0 5.2vw 0 0;
	}
	100% {
		margin: 0 5vw;
	}
}

body>#wordle-board>.row.active {
	animation: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1) badRow;
}

body>#wordle-board>.row>.cell {
	width: 100%;
	max-width: 8.5vh;
	height: 8.5vh;
	margin: .5vh .5vw;
	background-color: var(--col-cell);
	border-radius: 0.35rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-size: 1.5rem;
}

body>#wordle-board>.row>.cell.active {
	transform: scale(1.05);
}

body>#wordle-board>.row>.cell.victory,
body>#wordle-board>.row>.cell.correct,
body>#wordle-board>.row>.cell.wrong {
	color: var(--col-background);
}

body>#wordle-board>.row>.cell.victory {
	background-color: var(--col-cell-victory);
}

body>#wordle-board>.row>.cell.correct {
	background-color: var(--col-cell-correct);
}

body>#wordle-board>.row>.cell.wrong {
	background-color: var(--col-cell-wrong);
}

body>#wordle-keyboard {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body>#wordle-keyboard>table {
	width: 50rem;
	border-spacing: .75rem;
}

body>#wordle-keyboard>table td {
	width: 10%;
	padding: 1rem 0;
	color: var(--col-background);
	background-color: var(--col-text);
	border-radius: 0.35rem;
	transform: scale(0.95);
}

body>#wordle-keyboard>table td:hover {
	filter: brightness(1.25);
	cursor: pointer;
	transform: scale(1);
}

body>#wordle-keyboard>table td:active {
	filter: brightness(0.75);
	cursor: pointer;
	transform: scale(0.9);
}

body>#wordle-keyboard>table td>i {
	font-size: 1.5rem;
	padding-top: 0.2rem;
}

body>footer {
	margin: 0;
}

body>#wordle-popup {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--col-background);
	background-color: rgba(0, 0, 0, 0.75);
	cursor: pointer;
	visibility: hidden;
	opacity: 0%;
}

body>#wordle-popup #message {
	font-size: 4rem;
	letter-spacing: .5rem;
	padding-left: .5rem;
	margin-bottom: 1vh;
}

body>#wordle-popup #mot {
	font-style: italic;
	font-weight: normal;
	margin-bottom: 5vh;
}

body>#wordle-popup #restart>i {
	font-size: 3rem;
}

body>#wordle-popup.active {
	visibility: visible;
	opacity: 100%;
}